.mode {
  transition: all 0.5s !important;
}
.mode:hover {
  background-color: rgb(179, 140, 201) !important;
  color: #611edc !important;
  border: 1px solid !important;
  /* z-index: 100 !important; */
  transition-delay: 0.1s;
}
.play-option {
  height: 50%;
}
.mode-container {
  height: 100%;
}
.back {
  overflow: hidden;
  display: flex;
  justify-content: center;
  transition: all 0.1s;
  cursor: pointer;
}
#img-1 {
  /* display: contents; */
  height: 32px;
  transition: all 0.5s;
}
#img-1:hover {
  transform: translateX(-16px) scale(1.2);
}
/* //////////////////////////////////// */
.grid {
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

table,
th,
td {
  border: 1px solid gray;
  border-radius: 16px;
  background-color: #fffbf5;
  border-spacing: 16px;
}
table {
  width: 50%;
  height: 100%;
  margin-bottom: 5%;
}
td {
  /* height: 20px; */
  width: 10px;
  text-align: center;
  background-color: #f7efe5;
  cursor: pointer;
  transition: all 0.5s;
}
td:hover {
  background-color: #0a0a09ee;
}
td > p {
  color: #7743db;
  margin: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* text-align: center; */
  font-size: 54px;
  font-weight: bolder;
}

/* //////////////////////////////////// */
.display-player {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.player-card {
  width: 45%;
  height: 80%;
  top: 10%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  background-color: #f7efe5;
}

.player {
  margin: 10%;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}

/* /////////////// */

input {
  width: 60%;
  border-radius: 16px;
  background-color: #c3acd0;
  border: none;
  padding: 0.5em;
  /* font-size: 1em; */
  text-align: center;
  color: #7743db;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  /* align-self: center; */
}
h3 {
  margin: 0.5em;
}
/* /////////////////////////////////////////// */
.board-container {
  width: 20vw;
  height: 80vh;
  background-color: #611edc;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  border-radius: 1em;
  margin: 1%;
}

.board-style {
  width: 80%;
  background-color: #7743db;
  border-radius: 1em;
  color: #000000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.score-head {
  height: 20%;
  margin-top: 10%;
  margin-bottom: 5%;
}
.score-board {
  height: 60%;
  margin: 2%;
  position: static;
}

.board-object {
  height: 90%;
  width: 90%;
  /* background-color: #fffbf5; */
  overflow-y: auto;
  transform: translateZ(0);
  /* position: fixed; */
}

.board-object-1 {
  transform: translateZ(0);
  position: fixed;
}
.score-card {
  margin: 2%;
  height: 30%;
  background-color: #f8bdff;
  border-radius: 0.5em;
  display: flex;  
  flex-direction: column;
}

.data-container {
  margin-top: 20%;
}
.notice-board{
  color: #f7efe5;
}
::-webkit-scrollbar {
  width: 5px;
  border-radius: 1.5em;
}
::-webkit-scrollbar-track {
  background-color: #611edc;
  border-radius: 1.5em;
}
::-webkit-scrollbar-thumb {
  background-color: #814fde;
  border-radius: 1.5em;
  width: 8px;
}
